@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Seleccione el Sistema</h1>
    <a href="@Url.Action("Login", "Usuario")" class="btn btn-primary">Sistema de Tienda de Productos</a>
    <a href="@Url.Action("Crear", "Pedido")" class="btn btn-primary">Sistema de Pizzeria</a>
</div>
