@model Proyecto4A.Models.Usuario

<h5>Registro de Usuario</h5>

@if (!string.IsNullOrEmpty(ViewBag.Message))
{
    <p>@ViewBag.Message</p>
}

<form action="Registrar" method="post">
    <label>Usuario: </label>
    <input type="text" name="usuario" /><br />
    <label>Contraseña: </label>
    <input type="password" name="clave" /><br />
    <label>Nivel: </label>
    <input type="number" name="nivel" /><br />
    <input type="submit" value="Registrar" /><br />
</form>
<br />
<a href="@Url.Action("Login", "Usuario")" class="btn btn-primary">Inicia sesion</a>
